.Post {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  margin-bottom: 60px;
  margin-left: 20%;
  margin-right: 20%;
}
.Post-user {
  display: flex;
  padding: 16px;
  align-items: center;
}
.Post-user-avatar {
  width: 35px;
  height: 35px;
}
.Post-user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Post-user-nickname {
  margin-left: 12px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-align: left;
}
.Post-image-bg {
  background-color: #efefef;
  align-content: left;
}
.Post-image img {
  display: block;
  width: 100%;
}
.Post-likes {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-align: left;  
  color: #262626;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;  
  display: inline;
  position: relative;  
text-decoration:none;

}
.Post-description {
  display: flex;
  text-align: left;
  align-items: center;
}
.Post-caption {
  margin-left: 12px;
  text-align: left;  
  display: flex;  
  align-items: center;
}
.post-footer {
  text-align: left;
  display: flex;
  align-items: center;
}
.button {
  border: 0;
  background: #ffffff;
  cursor: pointer;
  align-items: center;
}
button:hover img {
  transform: translateY(-5px);
  transition: all 0.2s;
}
