.container {
	border-radius: 3px;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	margin-bottom: 60px;
	margin-left: 20%;
	margin-right: 20%;
}
.description {
	display: flex;
	text-align: left;
	align-items: center;
}
.user-nickname {
	margin-left: 12px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	text-align: left;
}
.likes {
	font-weight: bold;
	padding: 0 5px;
}
.caption {
	text-align: left;
	display: flex;
	align-items: center;
	margin-left: 12px;
}
.date {
	font-size: 10px;
	letter-spacing: 0.2px;
	color: #999;
	margin-bottom: 5px;
	margin-left: 12px;
	text-transform: uppercase;
	display: flex;
}
.image img {
	display: block;
	width: 100%;
	background-color: #efefef;
	align-content: left;
}
.header {
	display: flex;
	padding: 16px;
	align-items: center;
}
.user-avatar {
	width: 35px;
	height: 35px;
}
.user-avatar img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.user-nickname {
	margin-left: 12px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	text-align: left;
}
